@media only screen and (min-width: 992px) {
  /* ? ----------------------- Header ------------------------ */

  header {
    height: 100vh;
  }

  /* * -------------- Section Hero --------------- */

  .section_hero {
    top: 14rem;
  }

  .section_hero p {
    font-size: 1.4rem;
  }

  /* ? ------------------- Main Sections -------------------- */

  .section_articles {
    padding-bottom: 4.8rem;
  }

  .div_einleitung_artcl,
  .div_einleitung_center {
    padding: 5rem 5rem 4rem;
  }

  .section_service,
  .section_quote,
  .section_contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .div_bgTransparent {
    width: 80vw;
    margin: 0 5rem;
  }

  /* * -------------- Section Work-Gallery --------------- */

  .div_gallery {
    padding: 0 5rem;
    gap: 2.5rem;
  }
  .gallery_wrapper {
    height: 24vh;
  }

  .gallery_wrapper img {
    width: 26vw;
    height: 24vh;
  }

  .gallery_btn {
    width: 26vw;
    height: 26vh;
    position: absolute;
    top: 24%;
    left: 24%;
    transform: translate(-24%, -24.5%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* * -------------- Section Service --------------- */

  .div_servicesBoxen {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 3rem;
    margin: 0 2.5rem;
  }

  .servicesBox {
    width: 28rem;
  }

  /* * -------------- Section Blog --------------- */

  .div_blogArticles {
    padding: 0 5rem;
  }

  /* * -------------- Section Quote --------------- */

  .section_quote {
    padding: 4rem 0;
  }

  .bigQuote {
    padding: 3rem 4rem;
  }

  /* * -------------- Section Testimonials --------------- */

  .section_testimonials {
    padding: 0 5rem;
  }

  .div_testimonialsBoxen {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem;
  }

  .div_testimonialsBoxen img {
    width: 16vw;
    margin-bottom: 1.2rem;
  }

  .testimonialsBox {
    width: 24vw;
    margin-bottom: 3rem;
  }

  /* * -------------- Section Contacts --------------- */

  .section_contact {
    padding: 5rem 0;
  }

  .section_contact fieldset {
    margin: 1.2rem 4rem;
  }

  #name,
  #email,
  #message {
    width: 40vw;
  }

  /* ? ----------------------- Footer ------------------------ */

  footer {
    padding: 3rem 5rem;
  }

  /* ? --------------- Buttons States und Effekte -------------- */

  #tophero a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }

  .btn_viewAll:hover {
    color: white;
    background-color: #3a4f52;
    transition: background-color 0.4s ease-in-out;
  }

  .btn_white:hover {
    font-weight: 500;
    color: #3a4f52;
    background-color: white;
    transition: background-color 0.4s ease-in-out;
  }

  .blog_text a:hover {
    text-decoration: underline;
  }

  .gallery_wrapper {
    margin-bottom: 0;
    overflow: hidden;
  }

  .gallery_wrapper img {
    transition: transform 0.5s linear;
  }

  .gallery_wrapper:hover img {
    transform: scale(1.4);
  }

  .gallery_btn {
    opacity: 0;
    transition: opacity 0.8 ease-in-out;
  }

  .gallery_btn:hover {
    opacity: 1;
  }
}
